In [1]:
import pandas as pd
import numpy as np

# 5.1 pandas的数据结构介绍

## Series

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

In [ ]:
obj.values  # 查看值属性

In [ ]:
obj.index  # 查看位置索引属性

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])  # 设置索引（index）
obj2

In [ ]:
obj2['a']              # 通过索引选择单一值
obj2[['c', 'a', 'd']]  # 通过索引选择多个值
obj2['d'] = 6          # 赋值

In [ ]:
obj2[obj2 > 0]  # 布尔过滤

In [ ]:
obj2 * 2  # 运算

In [ ]:
np.exp(obj2)  # 应用数学函数

In [ ]:
'b' in obj2  # 查看是否包含指定索引，Service 也是一个定长的有序字典

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)  # 通过字典创建 Service
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)  # 传入排序好的字典键，注意：obj4 中 'California' 为 NaN、 'Utah' 被丢弃
obj4

In [ ]:
pd.isnull(obj4)  # 检测是否为 NaN

In [ ]:
pd.notnull(obj4)  # 检测是否不是 NaN

In [ ]:
obj4.isnull()  # Series 的检测是否为 NaN

In [ ]:
obj3 + obj4  # Service 可以自动对齐然后运算

In [ ]:
# Service 的 name 属性
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']  # index 可以直接通过赋值设置
obj

In [ ]:
obj.index = ['abc', 'Steve', 'Jeff', 'Ryan']  # 修改 index
obj.index[0]

## DataFrame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002, 2003], 
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)  # 通过字典创建 DataFrame
frame

In [ ]:
frame.head()  # 预览，默认前 5 行

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])  # 指定列（columns）顺序

In [ ]:
frame2 = pd.DataFrame(data, 
                      columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four','five', 'six'])  # 传入的 columns 在数据中找不到则为 NaN
frame2

In [ ]:
# 下面两种方式都可以选择列
frame2['state']  # 字典标记（适用于任何列名，建议使用）
frame2.state     # 查看属性（列名是一个合理的 Python 变量名时才适用）

In [ ]:
frame2[['year', 'state']]  # 选择多列

In [ ]:
frame2['debt'] = 16.5  # 赋标量值
frame2

In [ ]:
frame2['debt'] = range(6)  # 赋一组值
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])  # 用 Service 赋值则会精确匹配 index，空值为 NaN
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'  # 为不存在的列赋值会创建新列，注意：不能用 frame2.eastern 创建新列
frame2

In [ ]:
del frame2['eastern']  # 使用 del 删除列
frame2

In [ ]:
frame3 = frame2.copy()  # copy() 函数可以值传递
frame3['year'] = 0
frame2

In [3]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)  # 通过嵌套字典创建 DataFrame
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [ ]:
frame3.T  # 转置

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)  # 通过 Series 组成的字典创建 DataFrame

In [ ]:
# DataFrame 设置 name 属性
frame3.index.name = 'year'
frame3.columns.name = 'state' 
frame3

In [ ]:
frame3.index

In [ ]:
frame3.columns

In [ ]:
frame3.values  # DataFrame 以二维数组的方式返回数据

In [ ]:
frame2.values  # DataFrame 会兼容所有列的数据类型

## 索引对象

In [2]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
print(index)
print(index[1:])

Index(['a', 'b', 'c'], dtype='object')
Index(['b', 'c'], dtype='object')

In [4]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [5]:
'Ohio' in frame3.columns  # columns 是否包含指定值

True

In [6]:
2003 in frame3.index   # index 是否包含指定值

False

In [7]:
frame3.index = [200, 200, 202]  # DataFrame 的 index 属性可以整体更改，可以有重复项
frame3

     Nevada  Ohio
200     NaN   1.5
200     2.4   1.7
202     2.9   3.6

In [10]:
frame3.loc[200]  # 选择重复的标签，会显示所有结果

     Nevada  Ohio
200     NaN   1.5
200     2.4   1.7

# 5.2 基本功能

## 重新索引

In [11]:
obj= pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [13]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])  # reindex() 修改 Serie 索引
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [14]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3.reindex(range(6), method='ffill')  # ffill 向前值填充，也就是取前一个值

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [15]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [20]:
frame2 = frame.reindex(index=['a', 'b', 'c', 'd'], 
                       columns=['Texas', 'Utah', 'California'])  # reindex() 修改 DataFrame 索引
frame2

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

## 丢弃指定轴上的项

In [21]:
obj = pd.Series(np.arange(5.),
               index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [23]:
new_obj = obj.drop(['d', 'c']) # drop() 丢弃 Serie 指定值
new_obj

a    0.0
b    1.0
e    4.0
dtype: float64

In [25]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                    index=['Ohio', 'Colorado', 'Utah', 'New York'], 
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [35]:
data.drop(['Colorado', 'Ohio'])  # drop() 丢弃 DataFrame 指定值（丢弃行）

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [45]:
data.drop('one', axis='columns')  # drop() 丢弃 DataFrame 指定值（丢弃列）

          two  three  four
Ohio        1      2     3
Colorado    5      6     7
Utah        9     10    11
New York   13     14    15

## 索引、选取和过滤